/*css reset lines 9 to 63*/
/* first section lines 68 to 132*/
/* second section lines 135 to 187*/
/*third section lines 189 to 220*/
/*nav section lines 222 to 232 */
/*media query for tablet devices lines 235 to 293*/
/*media query for mobile devices lines 297 to 353*/

/*css reset by josh comeau (https://www.joshwcomeau.com/css/custom-css-reset/)*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}



/*first section*/
body {
    font-family: "Nata Sans", sans-serif;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}
#about-me {
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 20px gray;
    margin: 0 6vw;
    margin-top: 15vh;
    padding-left: 41%;
}
.about-me-img-heading-container{
    position: absolute;
    left: 0;
    top: -3vw;
    width: 40vw;

}
.about-me-img{
    height: auto;
    width: 100%;
}
.about-me-img-h1{
    position: absolute;
    color: #ffffff;
    text-shadow: 2px 2px 3px black;
    z-index: 1;
    font-size: calc(350% + 1vw);
    bottom: 1px;
    text-align: center;
    width: 100%;
    line-height: 90%;
}
.about-me-socials {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    gap: 1ch;
    justify-content: end;
    margin-top: 2vh;
}
.about-me-icons {
    font-size: 300%;
    color: black;
}
h2{
    font-size: calc(250% + 1vw);
}
.about-me-content {
    font-size: calc(125% + .4vw);
}
.about-me-link,
.contact-me-link,
.contacts {
    text-decoration: none;
    line-break: anywhere;
}
.contacts{
    color: black;
    display: flex;
    gap: 1ch;
}


/*second section*/
#my-work{
    margin: 0 6vw;
    margin-top: 20vh;
}
.my-work-projects{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    justify-content: space-between;
}
svg {
    width: 2ch;
}
i{
    font-size: 2ch;
}
.project {
    max-width: 26vw;
    box-shadow: 1px 1px 15px gray;
    background-color: white;
    height: fit-content;
}
.project-title-area{
    display: flex;
    justify-content: space-between;
    padding: 1vw;

}
.project-name{
    font-size: calc(140% + .1vw);
}
.project-links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1ch;
}
.project-image{
    background-color: red;
    text-align: center;
    /* min-height: 400px; */
    height: 20vw;
    font-size: calc(200% + .5vw);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-description{
    height: 180px;
    padding: .5vh 1vw;
}

/*final section */
#contact-me{
    display:flex;
    justify-content: space-between;
    gap: 1ch;
    background-color: gray;
    padding: 0 6vw;
    margin-top: 15vh;
    padding-top: 8vh;
    padding-bottom: 4vh;
}
.contact-me-details {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    font-size: 150%;
    flex: 0 1 auto;
    max-width: 45vw;
}
.contact-me-image{
    min-width: 35vw;
    object-fit: contain;

}
.contact-me-icons {
    font-size: 200%;
    color: black;
}
.contact-me-socials {
    display: flex;
    gap: 1ch;
}   

/*nav*/
.nav-links{
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40%;
}
.nav-links svg{
    width: 2.5ch;
    padding-left: 1px;
}


/* tablet query */
@media (min-width: 482px) and (max-width: 769px){
    #about-me {
        position: static;
        margin: 0 10vw;
        margin-top: 12vh;
    }
    .about-me-img-heading-container{
        float: left;
        min-width: 45vw;
        height: 35vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        top: 5vh;
        left: 5vw;
        clear: left;
    }
    .about-me-img {
        object-fit: fill;
    }
    .about-me-img-h1 {
        position: absolute;
        top: 0;
        right: -250px;
        height: fit-content;
        font-size: calc(250% + 1vw);
        width: 75vw;
        text-align: end;
        clear: both;
    }
    .about-me-h2 {
        text-align: center;
    }
    .about-me-content{
        font-size: calc(100% + .4vw);
        padding-left: 1vw;
    }
    .about-me-icons {
        font-size: 200%;
    }
    #my-work {
        margin: 0 10vw;
        margin-top: 5vh;
    }
    .project{
        max-width: 36vw;
    }
    .project-image{
        font-size: calc(200% + .2vw);
        height: 45vw;
    }
    #contact-me {
        padding: 4vh 10vw;
    }
    h2{
        font-size: calc(140% + 1vw);
    }
}



/*mobile query*/
@media (max-width: 481px){
    #about-me{
        margin: 0 6vw;
        margin-top: 4vh;
        display: flex;
        flex-direction: column;
        background: none;
        box-shadow: none;
    }
    #about-me{
        padding-left: 0;
    }
    .about-me-img-heading-container{
        float: none;
        width: 100%;
        position: relative;
    }
    .about-me-img-h1{
        line-height: 90%;
    }
    .about-me-socials{
        align-self: center;
    }

    h2 {
        text-align: center;
    }
    #my-work{
        margin: 0 6vw;
        margin-top: 10vh;
    }
    .my-work-projects{
        flex-direction: column;
        align-items: center;
        gap: 7vh;
    }
    .project{
        max-width: 90vw;
    }
    .project-image{
        height: 60vw;
    }
    #contact-me{
        flex-direction: column;
        align-items: center;
        gap: 10vh;
        margin-top: 16vh;

    }
    .contact-me-details{
        max-width: 90vw;
    }
    .contact-me-image{
        min-width: 95vw;
    }
}