/*css reset by josh comeau (https://www.joshwcomeau.com/css/custom-css-reset/)*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}






/*my css*/
/*first section*/
body {
    font-family: "Nata Sans", sans-serif;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.about-me {
    background-color: white;
    height: fit-content;
    max-width: 100%;
    padding: 1vh 1vw;
    margin: 12vh 5vw 0 9vw;

}
.about-me,
.about-me-img {
    box-shadow: 1px 1px 20px black;
}

.about-me-img{
    height: auto;
    object-fit: fill;
    transform: scale(1.2);
    max-width: 45vw;
}

.about-me-img-heading-container{
    position: relative;
    height: fit-content;
    float: left;
    margin: 0 6vw 45px 0;
}

.about-me-img-h1{
    position: absolute;
    color: #ffffff;
    text-shadow: 2px 2px 3px black;
    z-index: 1;
    font-size: 300%;
    bottom: 1px;
    left: 70px;
}


.about-me-socials {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 1ch;
    gap: 1ch;
    justify-content: end;
}

h2{
    font-size: calc(100% + 2vw);
}

.about-me-content {
    font-size: calc(100% + .4vw);
}

.about-me-icons {
    font-size: 200%;
    color: black;
}

.about-me-link,
.contact-me-link,
.contacts {
    text-decoration: none;
    line-break: anywhere;
}

.contacts{
    color: black;
    display: flex;
    gap: 1ch;
}

/*second section*/
#my-work{
    padding: 0 5vw 0 9vw;
    margin-bottom: 10vh;
}

.my-work-projects{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
}

.my-work-h2 {
    margin-top: 5vh;
    margin-bottom: 2vh;
}

svg {
    width: 2ch;
}
i{
    font-size: 2ch;
}

.project {
    width: fit-content;
    max-width: 25vw;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 15px gray;
    background-color: white;
}

.project-title-area{
    display: flex;
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
}
.project-name{
    font-size: 150%;
}

h3{
    font-size: calc(80% + .5vw);
}

.project-links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1ch;
}


.project-image{
    background-color: red;
    height: fit-content;
    object-fit: contain;
    text-align: center;
    min-height: 15vh;
    font-size: calc(200% + .5vw);
    color: white;
    
}


.project-description{
    padding: 1vh 2vw;
    margin-bottom: 2vh
}


/*final section */
#contact-me{
    display:flex;
    justify-content: space-between;
    gap: 1ch;
    background-color: gray;
    padding: 0 5vw 0 9vw;
    padding-top: 5vh;
}

.contact-me-details {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    font-size: 150%;
    flex: 0 1 auto;
    max-width: 45vw;
}

.contact-me-image{
    min-width: 35vw;
    object-fit: contain;
    margin-bottom: 5vh;

}

.contact-me-icons {
    font-size: 200%;
    color: black;
}

.contact-me-socials {
    display: flex;
    gap: 1ch;
}   



@media (max-width: 769px){
    .about-me-img-heading-container{
        position: relative;
        float: left;
        max-width: 60vw;
        margin: 0 5ch 30px 0;
    }
    .about-me-img-h1 {
        bottom: 0;
        left: 0;
        top: -80px;
        right: -30vw;
        display: inline-block;
        height: fit-content;
        text-align: end;
    }
    .about-me-h2 {
        text-align: center;
    }

    .project{
        max-width: 39vw;
    }
}

@media (max-width: 481px){
    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        box-shadow: none;
        margin: 0 5vw;
        padding: 0;
        margin-top: 2vh;
    }
    .about-me-img-heading-container{
        float: none;
        max-width: 90vw;
        margin: 0;
        padding: 0;
        position: relative;
        height: fit-content;
    }
    .about-me-img{
        transform: none;
        object-fit: contain;
        max-width: 90vw;
    }
    /*position h1 back to bottom of container*/
    .about-me-img-h1{
        text-align: center;
        left: 1px;
        bottom: 1px;
        top: 0px;
        right: 0px;
        text-align: center;
    }
    .about-me-socials{
        align-self: center;
    }


    /*change projects width to be as wide as they can be*/
    #my-work{
        margin: 0;
        padding: 0;
    }
    .my-work-h2{
        text-align: center;
    }
    .my-work-projects{
        flex-direction: column;
        align-items: center;
    }
    .project{
        max-width: 90vw;
    }


    /*change contact me to use flex columns*/
    #contact-me{
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .contact-me-details{
        max-width: 90vw;
    }
    .contact-me-image{
        min-width: 95vw;
        margin-bottom: 0;
    }

    /*change margins, ie: contact me image has none*/
}